@import 'src/variables';

.skeletonItem {
  @include country-card-layout;
  background-color: $gray10;
  margin-bottom: 10px;
}

@keyframes skeletonAnimation {
  0% {
    background-color: $gray10;
  }
  50% {
    background-color: $gray20;
  }
  100% {
    background-color: $gray10;
  }
}

.skeletonItem.animation {
  animation: skeletonAnimation 1s ease-in-out infinite;
}
