@import 'src/variables';

.layout {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    height: 100vh;
  }
}

.countryDetails {
  flex: 1;
  display: flex;
  background-color: $whitesmoke;
}

.pageHeading {
  padding: 1rem;
  background-color: $whitesmoke;
}

.goBackLink {
  background-color: $whitesmoke;
  padding: 0 1rem;
}

.goBack {
  display: flex;
  align-items: center;
  justify-content: flex-start;
   
  @include mobile {
  padding-bottom: 2rem;
  }
 
}


.borderCountries {
  flex: 1;
  background-color: $gray100;
  overflow-y: auto;
}

.borderCountriesHeading {
  background-color: $whitesmoke;
  padding: 0.5rem;
  border-bottom: 1px solid $gray200;
}



.noBorderPlaceholder {
  margin: 2rem 0.5rem;
  padding: 2rem 1rem;
  box-shadow: 0px 0px 20px 2px rgba(226, 226, 226, 0.5);
}

