@import 'src/variables';

.linkCard {
  @include country-card-layout;
  background-color: $white;
  height: 25rem;
  min-width: 18.75rem;
  max-width: 18.75rem;
  border-radius: 1rem;
  padding: 0;
  display: flex;
  box-shadow: 0px 0px 1.25rem 0.125rem rgba(226, 226, 226, 0.5);
  border: 0.0625rem solid $gray200;
  margin: auto;

  &:not(.disable):hover {
    transform: scale(1.01);
    box-shadow: 0 0 0.625rem hsla(0, 0%, 70%, 0.6);
  }
}

.image {
  width: 100%;
  min-width: 18.625rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  border-bottom: 0.0625rem solid $gray300;
}

.details {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.heading {
  font-size: 1.25rem;
  font-weight: 700;
  min-height: 4rem;
  border-bottom: 0.0625rem solid $gray200;
}

.subHeading {
  font-size: 0.875rem;
  font-weight: 500;
}

.paragraph {
  font-size: 1rem;
  font-weight: 400;
}
