@import 'src/variables';

.countryDetailsTable {
  width: 100%;
  border-collapse: collapse;
}

.countryDetailsTable th,
.countryDetailsTable td {
  padding: 0.5rem;
  border: 0.0625rem solid #ddd;
}

.countryDetailsTable th {
  text-align: left;
  background-color: $gray100;
}

.key {
  text-transform: capitalize;
}