@import 'src/variables.scss';

.modalBackDrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($black, 0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 20;
  transition: opacity 0.3s ease-in-out;

  &.opened {
    opacity: 1;
    pointer-events: auto;
  }
}

.sharedProperties {
  background-color: $white;
  transition: all 0.3s ease-in-out;
}

.expanded {
  @extend .sharedProperties;
  width: 100%;
  height: 100%;
}

.modalContent {
  @extend .sharedProperties;
  width: 100%;
  height: 100%;
  overflow: auto;

  @include tablet {
    width: calc(100% - 148px);
    margin: auto;
    height: calc(100% - 38px);
    border-radius: 10px;
  }
}

.buttonWrapper {
  position: absolute;
  top: 4rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0px;
  z-index: 3;
  border-radius: 64px;
  display: none;
}

.expandButton {
  border-bottom-left-radius: 999px;
  border-bottom-right-radius: 999px;
}

.closeButton {
  border-radius: 999px;
  @include tablet {
    border-radius: 0;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
  }
}

.closeButton,
.expandButton {
  height: 36px;
}
.closeButton,
.expandButton,
.hoverButton {
  width: 36px;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
  }

  &:focus {
    outline: 2px solid $white;
  }
}

.expanded,
.modalContent {
  position: relative;
}

.hoverButton {
  position: absolute;
  top: 5rem;
  right: -0.5rem;
  height: 46px;
  border-bottom-left-radius: 999px;
  border-top-left-radius: 999px;
  display: none;
  z-index: 999;
}

.show {
  display: block;
}

.expandButton {
  display: none;

  @include tablet {
    display: block;
  }
}
