@import 'src/variables.scss';

.heading {
  padding: 1rem;

  @include mobile {
    font-size: 1.2rem;
    text-align: center;
  }
}

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.errorButton {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  color: $black;
  background-color: transparent;
  border: 0.0625rem solid $black;
  border-radius: 1rem;
  text-decoration: none;
  cursor: pointer;
  margin: 2rem auto;
}
.errorMessage {
  margin-top: 2rem;
}

.errorButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.errorButton:focus {
  outline: none;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}
