// colors

$black: #000;
$white: #fff;
$whitesmoke:#f5f5f5;

$gray10: #f0f0f0;
$gray20: #e0e0e0;
$gray50: #f6f6f6;
$gray100: #eee;
$gray200: #e2e2e2;
$gray300: #cbcbcb;
$gray500: #757575;
$gray700: #333;
$gray750: #1f1f1f;

$blue: #0068ff;



// media queries

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 769px) {
    @content;
  }
}


@mixin country-card-layout {
  height: 25rem;
  min-width: 18.75rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 1.25rem 0.125rem rgba(226, 226, 226, 0.5);
  border: 0.0625rem solid $gray200;

  @include mobile {
    min-width: 20.625rem;
  }
}
